<div class="mall-form-control">
    <label for="field-{{ field.hashId }}" class="mall-label">{{ field.name }}</label>
    <textarea rows="6" class="mall-input block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded" name="fields[{{ field.hashId }}]"
              id="field-{{ field.hashId }}"
              data-id="{{ item.property.hashId }}"
              data-mall-custom-field></textarea>
    <div data-validate-for="{{ field.hashId }}"></div>
</div>
